@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSans.woff2') format('woff2'),
        url('../fonts/IRANSans.woff') format('woff'),
        url('../fonts/IRANSans_Bold.ttf') format('truetype'),
        url('../fonts/IRANSans_Medium.ttf') format('truetype');
}

@layer utilities {
    .flex-important {
        display: flex !important;
    }

    .custom-shadow {
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(32px);
        -webkit-backdrop-filter: blur(32px);
        border-radius: 10px;
    }

    .display-none{
        @apply hidden
    }
    .bg-callus1 {
        background-image: url('../images/callus_bg/White Modern.png');
    }

    .bg-callus2 {
        background-image: url('../images/callus_bg/pattern1.jpg');
    }

    .bg-callus3 {
        background-image: url('../images/callus_bg/pattern2.jpg');
    }

    .bg-callus4 {
        background-image: url('../images/callus_bg/pattern3.jpg');
    }

    .bg-callus5 {
        background-image: url('../images/callus_bg/White Modern.png');
    }

    .animate-ping {
        animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
    }

    @keyframes ping {

        75%,
        100% {
            transform: scale(2);
            opacity: 0;
        }
    }
}